# Week1 of mlzoomcamp 

Take away: 🤔🤔🤔

✔️ ML is a process of extracting patterns (features + target)

✔️ We can start from rules; ML help with the scale

✔️ Model: Logistic regression/decision tree/neural network/others

✔️ Split datasets into training, validation, and test

✔️ Train the models -> Evaluate the models ->Select the best -> Apply the model to the test dataset -> Compare

In [38]:
import pandas as pd
import numpy as np
data = pd.read_csv("housing.csv")

In [39]:
pd.__version__

'2.1.0'

In [40]:
# Number of columns in the dataset
df = pd.DataFrame(data)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [41]:
# Select columns with missing data
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [42]:
# Number of unique values in the 'ocean_proximity' column

df['ocean_proximity'].nunique()

5

In [43]:
# Average value of the 'median_house_value' for the houses near the bay
df.groupby('ocean_proximity')['median_house_value'].mean()

ocean_proximity
<1H OCEAN     240084.285464
INLAND        124805.392001
ISLAND        380440.000000
NEAR BAY      259212.311790
NEAR OCEAN    249433.977427
Name: median_house_value, dtype: float64

In [44]:
# Calculate the average of total_bedrooms column in the dataset.
df['total_bedrooms'].mean()

537.8705525375618

In [45]:
# Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
data_fillna = df.fillna(value=df['total_bedrooms'].mean())
data_fillna['total_bedrooms'].mean()

537.8705525375617

In [46]:
# recheck whether the na value is filled in
data_fillna.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [47]:
# Select all the options located on islands.
island_df = df[
    df['ocean_proximity'] == 'ISLAND'
]
island_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

In [48]:
# Select only columns housing_median_age, total_rooms, total_bedrooms.
data_portion = island_df[
    ['housing_median_age', 'total_rooms', 'total_bedrooms']
]

In [49]:
data_portion

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [50]:
# Get the underlying NumPy array. Let's call it X
X = np.array(data_portion)

In [51]:
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [52]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
X_transpose = X.T

In [53]:
X_transpose

array([[  27.,   52.,   52.,   52.,   29.],
       [1675., 2359., 2127.,  996.,  716.],
       [ 521.,  591.,  512.,  264.,  214.]])

In [54]:
X_transpose.shape[0]

3

In [55]:
X_transpose.shape[1]

5

In [56]:
XTX = X_transpose.dot(X)
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [57]:
# Compute the inverse of XTX

XTX_inverse = np.linalg.inv(XTX)
XTX_inverse

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [58]:
# Create an array y with values [950, 1300, 800, 1000, 1300]
y = np.array([950, 1300, 800, 1000, 1300])

In [59]:
XTX_inverse.shape[0]

3

In [60]:
XTX_inverse.shape[1]

3

In [61]:
X_transpose.shape[0]

3

In [62]:
X_transpose.shape[1]

5

In [64]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# w = np.dot(np.dot(XTX_inverse, X_transpose), y) both methods work
w = XTX_inverse.dot(X_transpose).dot(y)
w

array([23.12330961, -1.48124183,  5.69922946])